{% extends 'main/layout.html' %}
{% block content %}
<h1 class="h4 legend">{{ legend }}</h1>
<div class="row">
	<div class="col-md-4 mb-3"><a class="mission-item h-100" href="/staff/misaun/"><i class="fa fa-map-signs fa-lg text-primary"></i> <strong>Misaun (situasaun)</strong><small>{{ counts.missions }} misaun ativu. Edita papél AI, objetivu, rubrika.</small></a></div>
	<div class="col-md-4 mb-3"><a class="mission-item h-100" href="/staff/kosakata/"><i class="fa fa-language fa-lg text-primary"></i> <strong>Kosa kata</strong><small>{{ counts.vocab }} kosa kata ativu. Kategoria no import lista.</small></a></div>
	<div class="col-md-4 mb-3"><a class="mission-item h-100" href="/staff/quiz/"><i class="fa fa-question-circle fa-lg text-primary"></i> <strong>Pergunta quiz</strong><small>{{ counts.quiz }} pergunta ativu.</small></a></div>
</div>
{% endblock %}
